<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-10">
      <h1> Proponente </h1>
    </div>
    <div class="col-lg-2 text-end">
      <%= link_to 'Voltar', proponentes_path, class: 'btn btn-secondary mt-2' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'form', proponente: @proponente %>
    </div>
  </div>
</div>
